form * {
    justify-content: space-around;
}



.formBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding: 10px;
    background-color: azure;
}

input {
    background: 0,0;
    border-width: 0;
    border-bottom: 1px  solid rgb(188, 188, 188);
    outline: none;
}

.inputBoxes * {
    display: flex;
    justify-content: space-around;
}

input[type="checkbox"] {
    cursor: pointer;
}

.termsCheckbox {
    font-size: small;
    padding-bottom: 10px;
}

.signUpButton {
    letter-spacing: 2px;
    border: none;
    width: 7rem;
    height: 2.5rem;
    margin-right: 19px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 23.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #bdd4f3;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.signUpButton:hover {
    background: #8dbaf5;
}

.signUpButton:active {
    transform: scale(0.95);
  }